body {
    margin: 0;
    overflow: hidden;
    background-color:lavenderblush;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    font-style: italic;
    align-items: center;
    justify-content: center;
}

#pkkaNhiButton, #hanSochLiButton {
    position: relative;
    font-size: medium;
    font-weight: bold;
    align-items: center;
}

#happiness img {
    width: 300px;
    height: auto;
}

.bubu {
    width: 260px;
    height: 350px;
    display: flex;
    z-index: 1;
    margin-left: 415px;
}


@media only screen and (max-width: 768px) {
    body {
        font-size: medium;
    }
    #happiness img {
        width: 200px;
    }
    .bubu {
        width: 200px;
        height: 250px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: small;
    }
    #happiness img {
        width: 150px;
    }
    .bubu {
        width: 150px;
        height: 200px;
        margin: 0 auto;
    }
}
